*,
*:before,
*:after
  box-sizing: inherit

html
  box-sizing: border-box

body
  padding-top: 2.25em
  color: $color-text
  background-color: $color-background-body
  font:
    family: $font-sans-serif
    size: 100%
  line-height: 1.5

p
  margin: 0 0 1em

pre,
code
  font-family: $font-monospace

pre
  margin: 0 0 1em

  code
    display: block
    overflow: auto
    line-height: 2
