$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$gray-darkest: #333;
$gray: #acacac;
$gray-light: #eaeaea;
$gray-lightest: #f7f7f7;
$sand: #f9f7e8;

$color-text: $gray-darkest;
$color-text-inverse: #fff;
$color-heading: $gray-darkest;
$color-neutral: $gray;
$color-selected: $sand;
$color-background-body: $gray-lightest;
$color-background-light: #fff;

$border-light: 1px solid $gray-light;
$border-radius-light: 2px;
$border-radius: 5px;
$border-radius-heavy: 10px;
