.table
  margin-bottom: 1em
  border-collapse: collapse
  width: 100%

  th,
  td
    padding: 1.25em 0.5em
    text-align: left
    vertical-align: top

  th
    padding-top: 0.625em

  td
    border-top: $border

  p,
  ul,
  .table--separator
    margin-bottom: 0.5em

    &:last-child
      margin-bottom: 0
