.box
  margin: 0 0 1em
  border: 1px solid #eaeaea
  padding: 1.25em
  background-color: #fff

  // Code example container
  > pre
    margin-bottom: 0

.box-neutral
  background-color: #f7f7f7

.box-padded
  padding: 3em
