.box
  margin: 0 0 1em
  border: $border-light
  padding: 1.25em
  background-color: $color-background-light

  // Code example container
  > pre
    margin-bottom: 0

.box-neutral
  background-color: $color-background-body

.box-padded
  padding: 3em
